In [1]:
import pandas as pd
import matplotlib.pyplot as plt 
import graphviz
import numpy as np
from sklearn import tree
from sklearn.neural_network import MLPClassifier
from sklearn.model_selection import train_test_split, KFold, cross_val_score
from sklearn.metrics import accuracy_score, confusion_matrix

In [2]:
pd1 = pd.read_csv('DatasetEksperimen/CensusIncome/CencusIncome.data.csv')
print(pd1.head())

   age          workclass   fnlwgt   education   education-num  \
0   39          State-gov    77516   Bachelors              13
1   50   Self-emp-not-inc    83311   Bachelors              13
2   38            Private   215646     HS-grad               9
3   53            Private   234721        11th               7
4   28            Private   338409   Bachelors              13

        marital-status          occupation    relationship    race      sex  \
0        Never-married        Adm-clerical   Not-in-family   White     Male
1   Married-civ-spouse     Exec-managerial         Husband   White     Male
2             Divorced   Handlers-cleaners   Not-in-family   White     Male
3   Married-civ-spouse   Handlers-cleaners         Husband   Black     Male
4   Married-civ-spouse      Prof-specialty            Wife   Black   Female

    capital-gain   capital-loss   hours-per-week  native-country  income
0           2174              0               40   United-States   <=50K
1              0              0               13   United-States   <=50K
2              0              0               40   United-States   <=50K
3              0              0               40   United-States   <=50K
4              0              0               40            Cuba   <=50K

In [3]:
pd1 = pd1.drop(' education', axis=1)
pd1.head()

,age,workclass,fnlwgt,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [4]:
for i in pd1.index.values.tolist():
    if pd1.iloc[i][' sex'] == ' Female':
        pd1.set_value(i, ' sex', 0)
    else:
        pd1.set_value(i, ' sex', 1)

In [5]:
for i in pd1.index.values.tolist():
    if pd1.iloc[i][' workclass'] == ' State-gov':
        pd1.set_value(i, ' State-gov', 1)
    else:
        pd1.set_value(i, ' State-gov', 0)

In [6]:
for i in pd1.index.values.tolist():
    if pd1.iloc[i][' workclass'] == ' Self-emp-not-inc':
        pd1.set_value(i, ' Self-emp-not-inc', 1)
    else:
        pd1.set_value(i, ' Self-emp-not-inc', 0)

In [7]:
for i in pd1.index.values.tolist():
    if pd1.iloc[i][' workclass'] == ' Private':
        pd1.set_value(i, ' Private', 1)
    elif pd1.iloc[i][' workclass'] == ' ?':
        pd1.set_value(i, ' Private', 1)
    else:
        pd1.set_value(i, ' Private', 0)

In [8]:
for i in pd1.index.values.tolist():
    if pd1.iloc[i][' workclass'] == ' Self-emp-inc':
        pd1.set_value(i, ' Self-emp-inc', 1)
    else:
        pd1.set_value(i, ' Self-emp-inc', 0)

In [9]:
for i in pd1.index.values.tolist():
    if pd1.iloc[i][' workclass'] == ' Federal-gov':
        pd1.set_value(i, ' Federal-gov', 1)
    else:
        pd1.set_value(i, ' Federal-gov', 0)

In [10]:
for i in pd1.index.values.tolist():
    if pd1.iloc[i][' workclass'] == ' Local-gov':
        pd1.set_value(i, ' Local-gov', 1)
    else:
        pd1.set_value(i, ' Local-gov', 0)

In [11]:
for i in pd1.index.values.tolist():
    if pd1.iloc[i][' workclass'] == ' Without-pay':
        pd1.set_value(i, ' Without-pay', 1)
    else:
        pd1.set_value(i, ' Without-pay', 0)

In [12]:
for i in pd1.index.values.tolist():
    if pd1.iloc[i][' workclass'] == ' Never-worked':
        pd1.set_value(i, ' Never-worked', 1)
    else:
        pd1.set_value(i, ' Never-worked', 0)

In [13]:
for i in pd1.index.values.tolist():
    if pd1.iloc[i][' marital-status'] == ' Married-civ-spouse':
        pd1.set_value(i, ' Married-civ-spouse', 1)
    elif pd1.iloc[i][' workclass'] == ' ?':
        pd1.set_value(i, ' Married-civ-spouse', 1)
    else:
        pd1.set_value(i, ' Married-civ-spouse', 0)

In [14]:
for i in pd1.index.values.tolist():
    if pd1.iloc[i][' marital-status'] == ' Divorced':
        pd1.set_value(i, ' Divorced', 1)
    else:
        pd1.set_value(i, ' Divorced', 0)

In [15]:
for i in pd1.index.values.tolist():
    if pd1.iloc[i][' marital-status'] == ' Never-married':
        pd1.set_value(i, ' Never-married', 1)
    else:
        pd1.set_value(i, ' Never-married', 0)

In [16]:
for i in pd1.index.values.tolist():
    if pd1.iloc[i][' marital-status'] == ' Separated':
        pd1.set_value(i, ' Separated', 1)
    else:
        pd1.set_value(i, ' Separated', 0)

In [17]:
for i in pd1.index.values.tolist():
    if pd1.iloc[i][' marital-status'] == ' Widowed':
        pd1.set_value(i, ' Widowed', 1)
    else:
        pd1.set_value(i, ' Widowed', 0)

In [18]:
for i in pd1.index.values.tolist():
    if pd1.iloc[i][' marital-status'] == ' Married-spouse-absent':
        pd1.set_value(i, ' Married-spouse-absent', 1)
    else:
        pd1.set_value(i, ' Married-spouse-absent', 0)

In [19]:
for i in pd1.index.values.tolist():
    if pd1.iloc[i][' marital-status'] == ' Married-AF-spouse':
        pd1.set_value(i,  'Married-AF-spouse', 1)
    else:
        pd1.set_value(i, ' Married-AF-spouse', 0)

In [20]:
for i in pd1.index.values.tolist():
    if pd1.iloc[i][' occupation'] == ' Tech-support':
        pd1.set_value(i, ' Tech-support', 1)
    else:
        pd1.set_value(i, ' Tech-support', 0)

In [21]:
for i in pd1.index.values.tolist():
    if pd1.iloc[i][' occupation'] == ' Craft-repair':
        pd1.set_value(i, ' Craft-repair', 1)
    else:
        pd1.set_value(i, ' Craft-repair', 0)

In [22]:
for i in pd1.index.values.tolist():
    if pd1.iloc[i][' occupation'] == ' Other-service':
        pd1.set_value(i, ' Other-service', 1)
    elif pd1.iloc[i][' occupation'] == ' ?':
        pd1.set_value(i, ' Other-service', 1)
    else:
        pd1.set_value(i, ' Other-service', 0)

In [23]:
for i in pd1.index.values.tolist():
    if pd1.iloc[i][' occupation'] == ' Sales':
        pd1.set_value(i, ' Sales', 1)
    else:
        pd1.set_value(i, ' Sales', 0)

In [24]:
for i in pd1.index.values.tolist():
    if pd1.iloc[i][' occupation'] == ' Exec-managerial':
        pd1.set_value(i, ' Exec-managerial', 1)
    else:
        pd1.set_value(i, ' Exec-managerial', 0)

In [25]:
for i in pd1.index.values.tolist():
    if pd1.iloc[i][' occupation'] == ' Prof-specialty':
        pd1.set_value(i, ' Prof-specialty', 1)
    else:
        pd1.set_value(i, ' Prof-specialty', 0)

In [26]:
for i in pd1.index.values.tolist():
    if pd1.iloc[i][' occupation'] == ' Handlers-cleaners':
        pd1.set_value(i, ' Handlers-cleaners', 1)
    else:
        pd1.set_value(i, ' Handlers-cleaners', 0)

In [27]:
for i in pd1.index.values.tolist():
    if pd1.iloc[i][' occupation'] == ' Machine-op-inspct':
        pd1.set_value(i, ' Machine-op-inspct', 1)
    else:
        pd1.set_value(i, ' Machine-op-inspct', 0)

In [28]:
for i in pd1.index.values.tolist():
    if pd1.iloc[i][' occupation'] == ' Adm-clerical':
        pd1.set_value(i, ' Adm-clerical', 1)
    else:
        pd1.set_value(i, ' Adm-clerical', 0)

In [29]:
for i in pd1.index.values.tolist():
    if pd1.iloc[i][' occupation'] == ' Farming-fishing':
        pd1.set_value(i, ' Farming-fishing', 1)
    else:
        pd1.set_value(i, ' Farming-fishing', 0)

In [30]:
for i in pd1.index.values.tolist():
    if pd1.iloc[i][' occupation'] == ' Transport-moving':
        pd1.set_value(i, ' Transport-moving', 1)
    else:
        pd1.set_value(i, ' Transport-moving', 0)

In [31]:
for i in pd1.index.values.tolist():
    if pd1.iloc[i][' occupation'] == ' Priv-house-serv':
        pd1.set_value(i, ' Priv-house-serv', 1)
    else:
        pd1.set_value(i, ' Priv-house-serv', 0)

In [32]:
for i in pd1.index.values.tolist():
    if pd1.iloc[i][' occupation'] == ' Protective-serv':
        pd1.set_value(i, ' Protective-serv', 1)
    else:
        pd1.set_value(i, ' Protective-serv', 0)

In [33]:
for i in pd1.index.values.tolist():
    if pd1.iloc[i][' occupation'] == ' Armed-Forces':
        pd1.set_value(i, ' Armed-Forces', 1)
    else:
        pd1.set_value(i, ' Armed-Forces', 0)

In [34]:
for i in pd1.index.values.tolist():
    if pd1.iloc[i][' relationship'] == ' Husband':
        pd1.set_value(i, ' Husband', 1)
    elif pd1.iloc[i][' occupation'] == ' ?':
        pd1.set_value(i, ' Husband', 1)
    else:
        pd1.set_value(i, ' Husband', 0)

In [35]:
for i in pd1.index.values.tolist():
    if pd1.iloc[i][' relationship'] == ' Wife':
        pd1.set_value(i, ' Wife', 1)
    else:
        pd1.set_value(i, ' Wife', 0)

In [36]:
for i in pd1.index.values.tolist():
    if pd1.iloc[i][' relationship'] == ' Own-child':
        pd1.set_value(i, ' Own-child', 1)
    else:
        pd1.set_value(i, ' Own-child', 0)

In [37]:
for i in pd1.index.values.tolist():
    if pd1.iloc[i][' relationship'] == ' Not-in-family':
        pd1.set_value(i, ' Not-in-family', 1)
    else:
        pd1.set_value(i, ' Not-in-family', 0)

In [38]:
for i in pd1.index.values.tolist():
    if pd1.iloc[i][' relationship'] == ' Other-relative':
        pd1.set_value(i, ' Other-relative', 1)
    else:
        pd1.set_value(i, ' Other-relative', 0)

In [39]:
for i in pd1.index.values.tolist():
    if pd1.iloc[i][' relationship'] == ' Unmarried':
        pd1.set_value(i, ' Unmarried', 1)
    else:
        pd1.set_value(i, ' Unmarried', 0)

In [40]:
for i in pd1.index.values.tolist():
    if pd1.iloc[i][' race'] == ' White':
        pd1.set_value(i, ' White', 1)
    elif pd1.iloc[i][' race'] == ' ?':
        pd1.set_value(i, ' White', 1)
    else:
        pd1.set_value(i, ' White', 0)

In [41]:
for i in pd1.index.values.tolist():
    if pd1.iloc[i][' race'] == ' Asian-Pac-Islander':
        pd1.set_value(i, ' Asian-Pac-Islander', 1)
    else:
        pd1.set_value(i, ' Asian-Pac-Islander', 0)

In [42]:
for i in pd1.index.values.tolist():
    if pd1.iloc[i][' race'] == ' Amer-Indian-Eskimo':
        pd1.set_value(i, ' Amer-Indian-Eskimo', 1)
    else:
        pd1.set_value(i, ' Amer-Indian-Eskimo', 0)

In [43]:
for i in pd1.index.values.tolist():
    if pd1.iloc[i][' race'] == ' Other':
        pd1.set_value(i, ' Other', 1)
    else:
        pd1.set_value(i, ' Other', 0)

In [44]:
for i in pd1.index.values.tolist():
    if pd1.iloc[i][' race'] == ' Black':
        pd1.set_value(i, ' Black', 1)
    else:
        pd1.set_value(i, ' Black', 0)

In [45]:
for i in pd1.index.values.tolist():
    if pd1.iloc[i][' native-country'] == ' United-States':
        pd1.set_value(i, ' United-States', 1)
    elif pd1.iloc[i][' native-country'] == ' ?':
        pd1.set_value(i, ' United-States', 1)
    else:
        pd1.set_value(i, ' United-States', 0)

In [46]:
for i in pd1.index.values.tolist():
    if pd1.iloc[i][' native-country'] == ' Cambodia':
        pd1.set_value(i, ' Cambodia', 1)
    else:
        pd1.set_value(i, ' Cambodia', 0)

In [47]:
for i in pd1.index.values.tolist():
    if pd1.iloc[i][' native-country'] == ' England':
        pd1.set_value(i, ' England', 1)
    else:
        pd1.set_value(i, ' England', 0)

In [48]:
for i in pd1.index.values.tolist():
    if pd1.iloc[i][' native-country'] == ' Puerto-Rico':
        pd1.set_value(i, ' Puerto-Rico', 1)
    else:
        pd1.set_value(i, ' Puerto-Rico', 0)

In [49]:
for i in pd1.index.values.tolist():
    if pd1.iloc[i][' native-country'] == ' Canada':
        pd1.set_value(i, ' Canada', 1)
    else:
        pd1.set_value(i, ' Canada', 0)

In [50]:
for i in pd1.index.values.tolist():
    if pd1.iloc[i][' native-country'] == ' Germany':
        pd1.set_value(i, ' Germany', 1)
    else:
        pd1.set_value(i, ' Germany', 0)

In [51]:
for i in pd1.index.values.tolist():
    if pd1.iloc[i][' native-country'] == ' Outlying-US(Guam-USVI-etc)':
        pd1.set_value(i, ' Outlying-US(Guam-USVI-etc)', 1)
    else:
        pd1.set_value(i, ' Outlying-US(Guam-USVI-etc)', 0)

In [52]:
for i in pd1.index.values.tolist():
    if pd1.iloc[i][' native-country'] == ' India':
        pd1.set_value(i, ' India', 1)
    else:
        pd1.set_value(i, ' India', 0)

In [53]:
for i in pd1.index.values.tolist():
    if pd1.iloc[i][' native-country'] == ' Japan':
        pd1.set_value(i, ' Japan', 1)
    else:
        pd1.set_value(i, ' Japan', 0)

In [54]:
for i in pd1.index.values.tolist():
    if pd1.iloc[i][' native-country'] == ' Greece':
        pd1.set_value(i, ' Greece', 1)
    else:
        pd1.set_value(i, ' Greece', 0)

In [55]:
for i in pd1.index.values.tolist():
    if pd1.iloc[i][' native-country'] == ' South':
        pd1.set_value(i, ' South', 1)
    else:
        pd1.set_value(i, ' South', 0)

In [56]:
for i in pd1.index.values.tolist():
    if pd1.iloc[i][' native-country'] == ' China':
        pd1.set_value(i, ' China', 1)
    else:
        pd1.set_value(i, ' China', 0)

In [57]:
for i in pd1.index.values.tolist():
    if pd1.iloc[i][' native-country'] == ' Cuba':
        pd1.set_value(i, ' Cuba', 1)
    else:
        pd1.set_value(i, ' Cuba', 0)

In [58]:
for i in pd1.index.values.tolist():
    if pd1.iloc[i][' native-country'] == ' Iran':
        pd1.set_value(i, ' Iran', 1)
    else:
        pd1.set_value(i, ' Iran', 0)

In [59]:
for i in pd1.index.values.tolist():
    if pd1.iloc[i][' native-country'] == ' Honduras':
        pd1.set_value(i, ' Honduras', 1)
    else:
        pd1.set_value(i, ' Honduras', 0)

In [60]:
for i in pd1.index.values.tolist():
    if pd1.iloc[i][' native-country'] == ' Philippines':
        pd1.set_value(i, ' Philippines', 1)
    else:
        pd1.set_value(i, ' Philippines', 0)

In [61]:
for i in pd1.index.values.tolist():
    if pd1.iloc[i][' native-country'] == ' Italy':
        pd1.set_value(i, ' Italy', 1)
    else:
        pd1.set_value(i, ' Italy', 0)

In [62]:
for i in pd1.index.values.tolist():
    if pd1.iloc[i][' native-country'] == ' Poland':
        pd1.set_value(i, ' Poland', 1)
    else:
        pd1.set_value(i, ' Poland', 0)

In [63]:
for i in pd1.index.values.tolist():
    if pd1.iloc[i][' native-country'] == ' Jamaica':
        pd1.set_value(i, ' Jamaica', 1)
    else:
        pd1.set_value(i, ' Jamaica', 0)

In [64]:
for i in pd1.index.values.tolist():
    if pd1.iloc[i][' native-country'] == ' Vietnam':
        pd1.set_value(i, ' Vietnam', 1)
    else:
        pd1.set_value(i, ' Vietnam', 0)

In [65]:
for i in pd1.index.values.tolist():
    if pd1.iloc[i][' native-country'] == ' Mexico':
        pd1.set_value(i, ' Mexico', 1)
    else:
        pd1.set_value(i, ' Mexico', 0)

In [66]:
for i in pd1.index.values.tolist():
    if pd1.iloc[i][' native-country'] == ' Portugal':
        pd1.set_value(i, ' Portugal', 1)
    else:
        pd1.set_value(i, ' Portugal', 0)

In [67]:
for i in pd1.index.values.tolist():
    if pd1.iloc[i][' native-country'] == ' Ireland':
        pd1.set_value(i, ' Ireland', 1)
    else:
        pd1.set_value(i, ' Ireland', 0)

In [68]:
for i in pd1.index.values.tolist():
    if pd1.iloc[i][' native-country'] == ' France':
        pd1.set_value(i, ' France', 1)
    else:
        pd1.set_value(i, ' France', 0)

In [69]:
for i in pd1.index.values.tolist():
    if pd1.iloc[i][' native-country'] == ' Dominican-Republic':
        pd1.set_value(i, ' Dominican-Republic', 1)
    else:
        pd1.set_value(i, ' Dominican-Republic', 0)

In [70]:
for i in pd1.index.values.tolist():
    if pd1.iloc[i][' native-country'] == ' Laos':
        pd1.set_value(i, ' Laos', 1)
    else:
        pd1.set_value(i, ' Laos', 0)

In [71]:
for i in pd1.index.values.tolist():
    if pd1.iloc[i][' native-country'] == ' Ecuador':
        pd1.set_value(i, ' Ecuador', 1)
    else:
        pd1.set_value(i, ' Ecuador', 0)

In [72]:
for i in pd1.index.values.tolist():
    if pd1.iloc[i][' native-country'] == ' Taiwan':
        pd1.set_value(i, ' Taiwan', 1)
    else:
        pd1.set_value(i, ' Taiwan', 0)

In [73]:
for i in pd1.index.values.tolist():
    if pd1.iloc[i][' native-country'] == ' Haiti':
        pd1.set_value(i, ' Haiti', 1)
    else:
        pd1.set_value(i, ' Haiti', 0)

In [74]:
for i in pd1.index.values.tolist():
    if pd1.iloc[i][' native-country'] == ' Columbia':
        pd1.set_value(i, ' Columbia', 1)
    else:
        pd1.set_value(i, ' Columbia', 0)

In [75]:
for i in pd1.index.values.tolist():
    if pd1.iloc[i][' native-country'] == ' Hungary':
        pd1.set_value(i, ' Hungary', 1)
    else:
        pd1.set_value(i, ' Hungary', 0)

In [76]:
for i in pd1.index.values.tolist():
    if pd1.iloc[i][' native-country'] == ' Guatemala':
        pd1.set_value(i, ' Guatemala', 1)
    else:
        pd1.set_value(i, ' Guatemala', 0)

In [77]:
for i in pd1.index.values.tolist():
    if pd1.iloc[i][' native-country'] == ' Nicaragua':
        pd1.set_value(i, ' Nicaragua', 1)
    else:
        pd1.set_value(i, ' Nicaragua', 0)

In [78]:
for i in pd1.index.values.tolist():
    if pd1.iloc[i][' native-country'] == ' Scotland':
        pd1.set_value(i, ' Scotland', 1)
    else:
        pd1.set_value(i, ' Scotland', 0)

In [79]:
for i in pd1.index.values.tolist():
    if pd1.iloc[i][' native-country'] == ' Thailand':
        pd1.set_value(i, ' Thailand', 1)
    else:
        pd1.set_value(i, ' Thailand', 0)

In [80]:
for i in pd1.index.values.tolist():
    if pd1.iloc[i][' native-country'] == ' Yugoslavia':
        pd1.set_value(i, ' Yugoslavia', 1)
    else:
        pd1.set_value(i, ' Yugoslavia', 0)

In [81]:
for i in pd1.index.values.tolist():
    if pd1.iloc[i][' native-country'] == ' El-Salvador':
        pd1.set_value(i, ' El-Salvador', 1)
    else:
        pd1.set_value(i, ' El-Salvador', 0)

In [82]:
for i in pd1.index.values.tolist():
    if pd1.iloc[i][' native-country'] == ' Trinadad&Tobago':
        pd1.set_value(i, ' Trinadad&Tobago', 1)
    else:
        pd1.set_value(i, ' Trinadad&Tobago', 0)

In [83]:
for i in pd1.index.values.tolist():
    if pd1.iloc[i][' native-country'] == ' Peru':
        pd1.set_value(i, ' Peru', 1)
    else:
        pd1.set_value(i, ' Peru', 0)

In [84]:
for i in pd1.index.values.tolist():
    if pd1.iloc[i][' native-country'] == ' Hong':
        pd1.set_value(i, ' Hong', 1)
    else:
        pd1.set_value(i, ' Hong', 0)

In [85]:
for i in pd1.index.values.tolist():
    if pd1.iloc[i][' native-country'] == ' Holand-Netherlands':
        pd1.set_value(i, ' Holand-Netherlands', 1)
    else:
        pd1.set_value(i, ' Holand-Netherlands', 0)

In [91]:
for i in pd1.index.values.tolist():
    if pd1.iloc[i]['income'] == ' >50K':
        pd1.set_value(i, 'income', 1)
    else:
        pd1.set_value(i, 'income', 0)

In [88]:
pd1 = pd1.drop([' workclass', ' marital-status', ' occupation', ' relationship', ' race', ' native-country'], axis=1)

In [97]:
pd1.to_csv('CensusIncomePreProcessed.csv')

In [95]:
pd1 = pd1.drop(' income', axis=1)

In [110]:
pd1 = pd.read_csv('CensusIncomePreProcessed.csv')
pd1.head()
X = pd1.iloc[:, 0:-1].values.tolist()
Y = pd1.iloc[:, -1].values.tolist()

from sklearn.preprocessing import Imputer
imputer = Imputer(missing_values = '', strategy='most_frequent', axis=0)
imputer = Imputer.fit(X[:,:])
X[:,:] = imputer.transform(x[:,:])
from sklearn import tree

clf1 = tree.DecisionTreeClassifier()
clf1 = clf1.fit(X,Y)

#Split data 90%/10

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.1, random_state=42)

# Akurasi Full
y_pred = clf1.predict(X_train)
print('Akurasi =', accuracy_score(Y_test, y_pred))

# Confusion Matrix
cm = confusion_matrix(Y_test, y_pred)
print('Confusion Matrix =\n', cm)

#Full-training MLP
from sklearn.neural_network import MLPClassifier
clf2 = MLPClassifier(solver='lbfgs', alpha=1e-5, hidden_layer_sizes=(15, 3), random_state=1)
clf2.fit(X, Y)

#Split data 90%/10%
from sklearn.model_selection import train_test_split, KFold, cross_val_score

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.1, random_state=42)

# Akurasi Full
y_pred = clf2.predict(X_train)
print('Akurasi =', accuracy_score(Y_test, y_pred))

# Confusion Matrix
cm = confusion_matrix(Y_test, y_pred)
print('Confusion Matrix =\n', cm)

TypeError: list indices must be integers or slices, not tuple