In [30]:
import pandas as pd
import matplotlib.pyplot as plt 
import graphviz
import numpy as np
from sklearn import tree
from sklearn.neural_network import MLPClassifier
from sklearn.model_selection import train_test_split, KFold, cross_val_score
from sklearn.metrics import accuracy_score, confusion_matrix

In [31]:
pd1 = pd.read_csv('DatasetEksperimen/CensusIncome/CencusIncome.data.csv')
print(pd1.head())

   age          workclass   fnlwgt   education   education-num  \
0   39          State-gov    77516   Bachelors              13
1   50   Self-emp-not-inc    83311   Bachelors              13
2   38            Private   215646     HS-grad               9
3   53            Private   234721        11th               7
4   28            Private   338409   Bachelors              13

        marital-status          occupation    relationship    race      sex  \
0        Never-married        Adm-clerical   Not-in-family   White     Male
1   Married-civ-spouse     Exec-managerial         Husband   White     Male
2             Divorced   Handlers-cleaners   Not-in-family   White     Male
3   Married-civ-spouse   Handlers-cleaners         Husband   Black     Male
4   Married-civ-spouse      Prof-specialty            Wife   Black   Female

    capital-gain   capital-loss   hours-per-week  native-country  income
0           2174              0               40   United-States   <=50K
1              0              0               13   United-States   <=50K
2              0              0               40   United-States   <=50K
3              0              0               40   United-States   <=50K
4              0              0               40            Cuba   <=50K

In [32]:
pd1 = pd1.drop(' education', axis=1)
pd1.head()

,age,workclass,fnlwgt,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [33]:
for i in pd1.index.values.tolist():
    if pd1.iloc[i][' sex'] == ' Female':
        pd1.set_value(i, ' sex', 0)
    else:
        pd1.set_value(i, ' sex', 1)
pd1.head()

,age,workclass,fnlwgt,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,13,Never-married,Adm-clerical,Not-in-family,White,1,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,13,Married-civ-spouse,Exec-managerial,Husband,White,1,0,0,13,United-States,<=50K
2,38,Private,215646,9,Divorced,Handlers-cleaners,Not-in-family,White,1,0,0,40,United-States,<=50K
3,53,Private,234721,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,1,0,0,40,United-States,<=50K
4,28,Private,338409,13,Married-civ-spouse,Prof-specialty,Wife,Black,0,0,0,40,Cuba,<=50K

In [34]:
for i in pd1.index.values.tolist():
    if pd1.iloc[i][' workclass'] == ' State-gov':
        pd1.set_value(i, ' State-gov', 1)
    else:
        pd1.set_value(i, ' State-gov', 0)
pd1.head()

,age,workclass,fnlwgt,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income,State-gov,State-gov
0,39,State-gov,77516,13,Never-married,Adm-clerical,Not-in-family,White,1,2174,0,40,United-States,<=50K,0,1.0
1,50,Self-emp-not-inc,83311,13,Married-civ-spouse,Exec-managerial,Husband,White,1,0,0,13,United-States,<=50K,0,0.0
2,38,Private,215646,9,Divorced,Handlers-cleaners,Not-in-family,White,1,0,0,40,United-States,<=50K,0,0.0
3,53,Private,234721,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,1,0,0,40,United-States,<=50K,0,0.0
4,28,Private,338409,13,Married-civ-spouse,Prof-specialty,Wife,Black,0,0,0,40,Cuba,<=50K,0,0.0

In [35]:
for i in pd1.index.values.tolist():
    if pd1.iloc[i][' workclass'] == ' Self-emp-not-inc':
        pd1.set_value(i, ' Self-emp-not-inc', 1)
    else:
        pd1.set_value(i, ' Self-emp-not-inc', 0)
pd1.head()

,age,workclass,fnlwgt,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income,State-gov,State-gov,Self-emp-not-inc,Self-emp-not-inc
0,39,State-gov,77516,13,Never-married,Adm-clerical,Not-in-family,White,1,2174,0,40,United-States,<=50K,0,1.0,0,0.0
1,50,Self-emp-not-inc,83311,13,Married-civ-spouse,Exec-managerial,Husband,White,1,0,0,13,United-States,<=50K,0,0.0,0,1.0
2,38,Private,215646,9,Divorced,Handlers-cleaners,Not-in-family,White,1,0,0,40,United-States,<=50K,0,0.0,0,0.0
3,53,Private,234721,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,1,0,0,40,United-States,<=50K,0,0.0,0,0.0
4,28,Private,338409,13,Married-civ-spouse,Prof-specialty,Wife,Black,0,0,0,40,Cuba,<=50K,0,0.0,0,0.0

In [38]:
for i in pd1.index.values.tolist():
    if pd1.iloc[i][' workclass'] == ' Private':
        pd1.set_value(i, ' Private', 1)
    elif pd1.iloc[i][' workclass'] == ' ?':
        pd1.set_value(i, ' Private', 1)
    else:
        pd1.set_value(i, ' Private', 0)
pd1.head()

,age,workclass,fnlwgt,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income,State-gov,State-gov,Self-emp-not-inc,Self-emp-not-inc,Private
0,39,State-gov,77516,13,Never-married,Adm-clerical,Not-in-family,White,1,2174,0,40,United-States,<=50K,0,1.0,0,0.0,0.0
1,50,Self-emp-not-inc,83311,13,Married-civ-spouse,Exec-managerial,Husband,White,1,0,0,13,United-States,<=50K,0,0.0,0,1.0,0.0
2,38,Private,215646,9,Divorced,Handlers-cleaners,Not-in-family,White,1,0,0,40,United-States,<=50K,0,0.0,0,0.0,1.0
3,53,Private,234721,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,1,0,0,40,United-States,<=50K,0,0.0,0,0.0,1.0
4,28,Private,338409,13,Married-civ-spouse,Prof-specialty,Wife,Black,0,0,0,40,Cuba,<=50K,0,0.0,0,0.0,1.0

In [39]:
for i in pd1.index.values.tolist():
    if pd1.iloc[i][' workclass'] == ' Self-emp-inc':
        pd1.set_value(i, ' Self-emp-inc', 1)
    else:
        pd1.set_value(i, ' Self-emp-inc', 0)
pd1.head()

,age,workclass,fnlwgt,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income,State-gov,State-gov,Self-emp-not-inc,Self-emp-not-inc,Private,Self-emp-inc
0,39,State-gov,77516,13,Never-married,Adm-clerical,Not-in-family,White,1,2174,0,40,United-States,<=50K,0,1.0,0,0.0,0.0,0.0
1,50,Self-emp-not-inc,83311,13,Married-civ-spouse,Exec-managerial,Husband,White,1,0,0,13,United-States,<=50K,0,0.0,0,1.0,0.0,0.0
2,38,Private,215646,9,Divorced,Handlers-cleaners,Not-in-family,White,1,0,0,40,United-States,<=50K,0,0.0,0,0.0,1.0,0.0
3,53,Private,234721,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,1,0,0,40,United-States,<=50K,0,0.0,0,0.0,1.0,0.0
4,28,Private,338409,13,Married-civ-spouse,Prof-specialty,Wife,Black,0,0,0,40,Cuba,<=50K,0,0.0,0,0.0,1.0,0.0

In [40]:
for i in pd1.index.values.tolist():
    if pd1.iloc[i][' workclass'] == ' Federal-gov':
        pd1.set_value(i, ' Federal-gov', 1)
    else:
        pd1.set_value(i, ' Federal-gov', 0)
pd1.head()

,age,workclass,fnlwgt,education-num,marital-status,occupation,relationship,race,sex,capital-gain,...,hours-per-week,native-country,income,State-gov,State-gov,Self-emp-not-inc,Self-emp-not-inc,Private,Self-emp-inc,Federal-gov
0,39,State-gov,77516,13,Never-married,Adm-clerical,Not-in-family,White,1,2174,...,40,United-States,<=50K,0,1.0,0,0.0,0.0,0.0,0.0
1,50,Self-emp-not-inc,83311,13,Married-civ-spouse,Exec-managerial,Husband,White,1,0,...,13,United-States,<=50K,0,0.0,0,1.0,0.0,0.0,0.0
2,38,Private,215646,9,Divorced,Handlers-cleaners,Not-in-family,White,1,0,...,40,United-States,<=50K,0,0.0,0,0.0,1.0,0.0,0.0
3,53,Private,234721,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,1,0,...,40,United-States,<=50K,0,0.0,0,0.0,1.0,0.0,0.0
4,28,Private,338409,13,Married-civ-spouse,Prof-specialty,Wife,Black,0,0,...,40,Cuba,<=50K,0,0.0,0,0.0,1.0,0.0,0.0

In [41]:
for i in pd1.index.values.tolist():
    if pd1.iloc[i][' workclass'] == ' Local-gov':
        pd1.set_value(i, ' Local-gov', 1)
    else:
        pd1.set_value(i, ' Local-gov', 0)
pd1.head()

,age,workclass,fnlwgt,education-num,marital-status,occupation,relationship,race,sex,capital-gain,...,native-country,income,State-gov,State-gov,Self-emp-not-inc,Self-emp-not-inc,Private,Self-emp-inc,Federal-gov,Local-gov
0,39,State-gov,77516,13,Never-married,Adm-clerical,Not-in-family,White,1,2174,...,United-States,<=50K,0,1.0,0,0.0,0.0,0.0,0.0,0.0
1,50,Self-emp-not-inc,83311,13,Married-civ-spouse,Exec-managerial,Husband,White,1,0,...,United-States,<=50K,0,0.0,0,1.0,0.0,0.0,0.0,0.0
2,38,Private,215646,9,Divorced,Handlers-cleaners,Not-in-family,White,1,0,...,United-States,<=50K,0,0.0,0,0.0,1.0,0.0,0.0,0.0
3,53,Private,234721,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,1,0,...,United-States,<=50K,0,0.0,0,0.0,1.0,0.0,0.0,0.0
4,28,Private,338409,13,Married-civ-spouse,Prof-specialty,Wife,Black,0,0,...,Cuba,<=50K,0,0.0,0,0.0,1.0,0.0,0.0,0.0

In [42]:
for i in pd1.index.values.tolist():
    if pd1.iloc[i][' workclass'] == ' Without-pay':
        pd1.set_value(i, ' Without-pay', 1)
    else:
        pd1.set_value(i, ' Without-pay', 0)
pd1.head()

,age,workclass,fnlwgt,education-num,marital-status,occupation,relationship,race,sex,capital-gain,...,income,State-gov,State-gov,Self-emp-not-inc,Self-emp-not-inc,Private,Self-emp-inc,Federal-gov,Local-gov,Without-pay
0,39,State-gov,77516,13,Never-married,Adm-clerical,Not-in-family,White,1,2174,...,<=50K,0,1.0,0,0.0,0.0,0.0,0.0,0.0,0.0
1,50,Self-emp-not-inc,83311,13,Married-civ-spouse,Exec-managerial,Husband,White,1,0,...,<=50K,0,0.0,0,1.0,0.0,0.0,0.0,0.0,0.0
2,38,Private,215646,9,Divorced,Handlers-cleaners,Not-in-family,White,1,0,...,<=50K,0,0.0,0,0.0,1.0,0.0,0.0,0.0,0.0
3,53,Private,234721,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,1,0,...,<=50K,0,0.0,0,0.0,1.0,0.0,0.0,0.0,0.0
4,28,Private,338409,13,Married-civ-spouse,Prof-specialty,Wife,Black,0,0,...,<=50K,0,0.0,0,0.0,1.0,0.0,0.0,0.0,0.0

In [6]:
Xiris = pd1.iloc[:,0:-2].values.tolist()
print(Xiris[:5])
Yiris = pd1.iloc[:,-1].values.tolist()
print(Yiris[:5])

[[39, ' State-gov', 77516, ' Bachelors', 13, ' Never-married', ' Adm-clerical', ' Not-in-family', ' White', ' Male', 2174, 0, 40], [50, ' Self-emp-not-inc', 83311, ' Bachelors', 13, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 0, 0, 13], [38, ' Private', 215646, ' HS-grad', 9, ' Divorced', ' Handlers-cleaners', ' Not-in-family', ' White', ' Male', 0, 0, 40], [53, ' Private', 234721, ' 11th', 7, ' Married-civ-spouse', ' Handlers-cleaners', ' Husband', ' Black', ' Male', 0, 0, 40], [28, ' Private', 338409, ' Bachelors', 13, ' Married-civ-spouse', ' Prof-specialty', ' Wife', ' Black', ' Female', 0, 0, 40]]
[' <=50K', ' <=50K', ' <=50K', ' <=50K', ' <=50K']

In [7]:
clf_tree = tree.DecisionTreeClassifier()
scores = cross_val_score(clf_tree, Xiris, Yiris, cv=10)
print("Akurasi: %0.2f (+/- %0.2f)" % (scores.mean(), scores.std() * 2))

ValueError: could not convert string to float: ' Private'